<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concordia Book Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Client/app.js")
    @Scripts.Render("~/Client/Books/GetBookService.js")
    @Scripts.Render("~/Client/Books/CreateBookController.js")
    @Scripts.Render("~/Client/Users/CurrentUserProfile.js")

    <link href="~/Client/css/BookstoreCss.css" rel="stylesheet" />
</head>
<body ng-app="bookApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Concordia Book Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("View Books", "Index", "Books")</li>
                    <li>@Html.ActionLink("Add Book", "Create", "Books")</li>
                    <li>@Html.ActionLink("User Profile", "UserProfile", "User")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="padding-top: 100px;" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Concordia Book Store</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script src="~/Client/Books/GetBookService.js"></script>
    <script src="~/Client/Books/BookIndexController.js"></script>
    <script src="~/Client/Books/CreateBookController.js"></script>
    <script src="~/Client/Users/UserService.js"></script>
    <script src="~/Client/Users/CreateNewUserController.js"></script>
    <script src="~/Client/Users/CreateNewUserController.js"></script>
    <script src="~/Client/Messaging/MessageController.js"></script>
    <script src="~/Client/Messaging/MessageService.js"></script>
</body>
</html>
